@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Merienda:wght@700&family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@300&family=Merienda:wght@700&display=swap');

:root {
    --cor-de-fundo: red;
    --t-12: 12px;
    --t-16: 16px;
    --t-18: 18px;
    --font-family-Montserrat: 'Montserrat';
    --font-family-Merienda: 'Merienda';
    --color-white: white;
    --color-black: black;
}