@import url(https://fonts.googleapis.com/css2?family=Archivo+Black&display=swap);
:root {
    --cor-de-fundo: #836FFF;
    --t-12: 12px;
    --t-16: 16px;
    --t-18: 18px;
    --font-family: "Patua One', cursive;"
    --font-family-
    --color-white: 
}
