header {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: 100px, 100px auto;
}

nav {
    grid-column: 1/13;
    grid-row-start: 1;
}

.mensagem_principal {
    margin-top: 120px;
    grid-column: 2/8;
    grid-row-start: 3;
}

.imagem_principal {
    grid-column: 8/13;
    grid-row-start: 3;
    z-index: 1;
}

.div-arredondada {
    position: absolute;
    top: 35%;
    right: 0;
    width: 450px;
    height: 450px;
    background-color: #da582f;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
}

@media(max-width: 700px) {
    header {
        display: flex;
        flex-direction: column;
    }

    .div-arredondada {
        display: none;
    }

    .mensagem_principal {
        padding: 8px;
    }

    .imagem_principal {
        width: 360px;
        height: auto;
    }
}